body {
    margin: 20px;
    font-family: sans-serif;
}
#clock,
#handles {
    border: 5px solid #8b2439;
    padding: 20px;
    margin: 0px;
}
h1 {
    width: 512px;
    text-align: center;
    /*font-size: 30px;*/
}
#container {
    position: relative;
    height: 512px;
    margin: 0px;
    margin-bottom: 50px;
}
canvas {
    position: absolute;
}
#handles {
    z-index: 2;
}
#clock {
    background-color: #fafaff;
    z-index: 1;
}
